header {
  position: relative;
  background-color: blue;
}

#main-navbar {
  padding: 0;
  margin: 0;
  overflow: hidden;
  list-style-type: none;
  display: block;
}

#navbar-container {
  width: 100%;
  text-align: center;
  position: relative;
}

#navbar-container ul {
  
}

#navbar-container ul li{
  list-style-type: none;
  display: block;
  text-decoration: none;
  background-color: #000;
}