header {
  position: relative;
  background-color: blue;
}

#main-navbar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  overflow: hidden;
  display: block;
}

#main-navbar ul li{
  float: left;
}

#main-navbar ul li a{
  padding: 10px 20px;
  display: block;
  color: #fff;
  text-decoration: none;  
}

#main-navbar ul li a:hover {
  background-color: #000;
  text-decoration: underline overline;
}

#navbar-container {
  width: 100%;
  text-align: center;
  position: relative;
}

#onpage {
  text-decoration: underline overline;
}

#sidebar {
  right: 0%;
  width: 20%;
  height: 100%;
  position: fixed;
  background-color: red;
}

#sidebar ul{
  position: fixed;
}

#sidebar-container ul {
  padding: 0;
  list-style-type: none;
}

#sidebar-container ul li a {
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  display: block;
  color: #fff;
}

#sidebar-container ul li a:hover {
  background-color: #000;
}